body {
    font-size: 16px;
    color: rgb(43, 42, 42);
    background-color: goldenrod;
    font-family: 'Poppins', sans-serif;
}

#header-nav {
    background-color: purple;
    border-radius: 0;
    border: 0;
}


.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
    text-decoration-color: none;
    background-color: transparent;
}

.navbar-brand h1 {
    font-size: 1.5 em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-shadow: 5px 5px 5px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

#nav-list a {
    color:#fff;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: gray;
}


#topheader {
    padding-top: 15px;
}

.chickendiv {
    background-color: rgb(43, 42, 42);
    color: #fff;
    height: 1000px;
}

.chickendiv p {
    padding: 15px 15px 15px 15px;
}

h2 {
    padding-top: 15px;
}